<% scripts.forEach(script => { %>
    <script src="<%= script %> "></script>
<% }); %>
</body>

<footer>
    <div class="page-bottom">
        <p>&#169; copyright <%= date %> by Andrew Kyle</p>
    </div>
</footer>