<script src="/scripts/script.js"></script>
</body>

<footer>
    <div class="page-bottom">
        <div>
            <a href="https://www.facebook.com/andrew.kyle.5011" class="fa fa-facebook" target="_blank"></a>
        </div>
    </div>
</footer>