<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Gayathri&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="nav">
        <div class="nav-left">
            <a class="name-logo" href="/">Andrew Kyle</a>
        </div>
        <div class="nav-middle">
            <p class="date"><%= data %></p>
            <div class='nav-links'>
                <a href="/">Home</a>
                <a href="#">Projects</a>
                <a href="/about">About Me</a>
            </div>
        </div>
        <div class="nav-right">
            <a href="https://github.com/andrew-kyle92" class="fa fa-github" target="_blank"></a>
            <a href="https://www.facebook.com/andrew.kyle.5011" class="fa fa-facebook" target="_blank"></a>
            <a href="https://twitter.com/TwoFirstNames92" class="fa fa-twitter" target="_blank"></a>
            <a href="https://soundcloud.com/andrew-kyle-1" class="fa fa-soundcloud" target="_blank"></a>
        </div>
    </div>