<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Gayathri&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">

</head>
<body>
    <div class="nav">
        <div class="nav-left">
            <a href="/">Andrew Kyle</a>
        </div>
        <div nav-middle>
            <p class="date name"><%= data %></p>
            <div class='nav-links'>
                <a href="/">Home</a>
                <a href="/workhistory">Past Work</a>
                <a href="#">Projects</a>
                <a href="/about">About Me</a>
            </div>
        </div>
        <div class="nav-right">
            <a href="<%= link %>"><%= note %></a>
        </div>
    </div>