<%- include('partials/header') %>

<h1>Who I Am?</h1>

<div class="top-bar">
    <button class="about-btn">Family Man</button>
    <button class="about-btn">Passion for Music</button>
    <button class="about-btn">Gaming</button>
    <button class="about-btn">Development/Coding</button>
</div>

<div id="family" class="tabcontent">

    <div class="about-p">
        <img src="images/family_pic_1.jpg" alt="family1" width="230px" height="260px">
        <p>My top priority, in life is my family. They come first, above all. I'm happily married to my beautiful wife, in which we were together for 10 years before marriage.</p>
        <p>I have 2 beautiful children, 1 girl(11), and 1 boy(4).</p>
    </div>
</div>

<div id="music" class="tabcontent">

</div>

<div id="gaming" class="tabcontent">

</div>

<div id="coding" class="tabcontent">

</div>




<%- include('partials/footer') %>