<%- include('partials/header') -%>

<div class="home-main">
    <div class="home-top">
        <img class="avatar" src="images/Andrew.jpg" alt="andrew-pic">
        <div class="home-top-desc">
            <h1>Andrew Kyle</h1>
            <p class="home-top-p">Programmer • Web Developer • Musician</p>
        </div>
    </div>
    <hr class="hr">
    <div class="context">
        <p class="home-p">Currently, I'm working on personal projects and expanding my programming skills in python.</p>
    </div>
</div>






<%- include('partials/footer') -%>