<%- include('partials/header') -%>

<div class="home-main">
    <h1 class="home-h1">Hello and Welcome!</h1>
    <p class="home-p">My name is Andrew Kyle; I'm a father, and husband</p>
</div>






<%- include('partials/footer') -%>