<%- include('partials/header') %>

<form action="/login" method="POST">
    <div class="login-form">
        <p class="err-login" style="color: red"><%= comment %></p>
        <div class="uname">
            <label for="username">Username</label>
            <input type="username" name="username" required placeholder="Username">
        </div>
        <div class="psw">
            <label for="password">Password</label>
            <input type="password" name="password" required placeholder="Password">
        </div>

        <button class="sub-btn" type="submit">Login</button>

        <p class="login-p">No account? Create one, <span class="reg-link"><a class="reg-a" href="/register">here</a></span>.</p>
    </div>
</form>






<%- include('partials/footer') %>