/* General Page Styling */
html {
    background-color: #7c848b;
}

body {
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: 'Gayathri', sans-serif;
    text-align: center;
}

/* Nav-Bar Styling */
.logo {
    margin-left: 2rem;
}

.nav {
    background: linear-gradient(to right, #00d2ff,#3a7bd5);
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 100%;
    width: 100%;
}

.nav-links {
    color: #485563;
    font-size: 28px;
    margin: auto auto .1rem auto;
    justify-content: space-between;
    width: 100%;
}

.nav-links a {
    margin: auto 8rem;
    color: #485563;
    text-decoration: none;
}

.nav-links a:hover {
    color: #e6e6e6;
    text-shadow: 5px 5px 5px #302f2f;
}

.nav-right {
    height: 100%;
    margin-right: 2rem;
    margin-top: 1rem;
    width: 3%;
}

.nav-right a {
    color: #485563;
    text-decoration: none;
    height: 100%;
}

.nav-right a:hover {
    color: #e6e6e6;
    text-shadow: 5px 5px 5px #302f2f;
}

.nav-middle p {
    font-size: 30px;
    margin: 1rem auto 8rem auto;
    width: 10%
}

/* Footer Styling */
footer {
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    bottom: 0px;
    color: #485563;
    position: fixed;
    width: 100%;
}

.heart {
    color: rgb(133, 14, 14);
}

/* Main Page Content Styling */
.home-h1 {
    font-size: 40px;
    margin: 2rem auto auto 18rem;
    width: fit-content;
}

.home-p {
    font-size: 25px;
    margin: auto auto auto 18rem;
    width: fit-content;
}

/* Login Page Styling */
button {
    border-width: 0px;
    border-radius: 6px;
    font-size: 19px;
    font-family: 'Gayathri', sans-serif;
    height: 30px;
    margin-bottom: 1rem;
    text-align: center;
    padding: 6px 5px;
    width: 68px;
}

button:hover {
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
    cursor: pointer;
}

button:active {
    border-width: 0px;
    transform: scale(1.1);
}

form {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin: 3rem auto;
    width: 26%;
}

label {
    width: 50%;
}

.login-form div {
    margin: .5rem auto;
}

input[type=username], input[type=password] {
    width: 30%;
}

.login-p {
    font-size: 20px;
}

.reg-a {
    color: black;
    text-decoration: underline;
}

.reg-a:hover {
    color: #e6e6e6;
}

/* Registration Page Styling */
.register {
    background-color: #ced9e2;
    border: solid black;
    border-width: 2px;
    font-size: 22px;
    word-spacing: 10px;
}

.register div {
    margin: 1rem auto;
    width: 100%;
}

.name {
    flex-direction: column;
}