/* General Page Styling */
html {
    background-color: #616169;
}

body {
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: 'Gayathri', sans-serif;
    text-align: center;
}

p {
    text-align: center;
    padding: 10px;
}

hr {
    border-color: #e6e6e6;
    margin-bottom: 1rem;
    width: 65%;
}

.fa {
    font-size: 50px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

/* Nav-Bar Styling */
.name-logo {
    color: #485563;
    font-size: 28px;
    margin: auto;
    text-decoration: none;
    text-align: center;
}

.name-logo:hover {
    color: #e6e6e6;
    text-shadow: 5px 5px 5px #302f2f;
}

.nav-left {
    margin-left: 0.5rem;
    width: 100%;
}

.nav-left a {
    color: #485563;
    font-size: 28px;
    /* margin: auto; */
    text-decoration: none;
}

.nav {
    background: linear-gradient(to right, #00d2ff,#3a7bd5);
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nav-links {
    font-size: 28px;
}

.nav-links a {
    margin: auto 9rem;
    color: #485563;
    text-decoration: none;
}

.nav-links a:hover {
    color: #e6e6e6;
    text-shadow: 5px 5px 5px #302f2f;
}

.nav-middle {
    margin: auto;
    width: 80%;
}

.nav-right {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.nav-right a {
    color: #485563;
    text-decoration: none;
}

.nav-right a:hover {
    color: #e6e6e6;
    text-shadow: 5px 5px 5px #302f2f;
}

/* Footer Styling */
footer {
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    bottom: 0px;
    color: #485563;
    position: fixed;
    width: 100%;
}

footer p {
    width: fit-content;
    margin: auto;
}

.heart {
    color: rgb(133, 14, 14);
}

/* Main Page Content Styling */
.avatar {
    border-radius: 75%;
    width: 200px;
    margin-left: 4rem;
    margin-right: 1rem;
}

.home-top {
    margin-top: 2rem;
    display: flex;
    flex-flow: row;
}

.home-top-desc {
    display: table-caption;
    table-layout: fixed;
}

.home h1 {
    margin: auto
}

.home-top-p {
    margin: auto 0rem 0rem;
}

.home-p {
    align-content: flex-start;
    font-size: 25px;
    margin: auto;
    width: fit-content;
}

.home-main {
    box-shadow: 2px 2px 50px #1c95e6 ;
    background-color: #313131;
    color: #e6e6e6;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    width: 80%;
}

.context {
    margin: 2rem auto;
    text-align: justify;
    width: 80%;
}

/* About Page Styling */
.top-bar {
    background-color: #ced9e2;
    border-color: #3a7bd5;
    border-style: ridge;
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin: 1rem auto auto auto;
    width: 55%; 
}

.about-btn {
    border: solid 1px;
    background: linear-gradient(#3a7bd5, #313131);
    color: white;
    font-size: 24px;
    height: 100%;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
}

.about-btn:hover {
    background: linear-gradient(#1c95e6, #313131);
}

.about-btn.active {
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
}

.about-p {
    justify-content: space-around;
    margin: 1rem auto;
    text-align: left;
    width: 90%;
}

.img1 {
    border-radius: 50px;
    float: left;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.img2 {
    border-radius: 50px;
    float: right;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.img3 {
    margin-left: 30rem;
}

.tabcontent {
    display: flex;
}

#music {
    background-color: #313131;
    color: #e6e6e6;
    display: none;
    height: auto;
    margin: 0rem auto;
    width: 90%;
}

.music-content {
    display: flex;
    flex-direction: row;
    height: 450px;
}

.music-content li {
    font-size: 25px;
}

.music {
    width: 50%;
    margin: 0rem 1rem;
}

/* Login Page Styling */
.sub-btn {
    border-width: 0px;
    border-radius: 6px;
    font-size: 19px;
    font-family: 'Gayathri', sans-serif;
    height: 30px;
    margin-bottom: 1rem;
    text-align: center;
    padding: 6px 5px;
}

.sub-btn:hover {
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
    cursor: pointer;
}

.sub-btn:active {
    border-width: 0px;
    transform: scale(1.1);
}

form {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    height: 100%;
    margin: 3rem auto;
    width: 40%;
}

label {
    width: 50%;
}

.login-form {
    background-color: #313131;
    border: 1px outset #313131;
    border-radius: 8px;
    box-shadow: 10px 10px 10px #3a7bd5;
    color: #e6e6e6;
}

.login-form div {
    margin: .5rem auto;
}

input[type=username], input[type=password] {
    width: 30%;
}

.login-p {
    font-size: 20px;
}

.reg-a {
    color: #e6e6e6;
    text-decoration: underline;
}

.reg-a:hover {
    color: #00d2ff;
}

/* Registration Page Styling */
.register {
    background-color: #ced9e2;
    border: solid #485563;
    box-shadow: 5px 10px 20px black;
    border-width: 2px;
    font-size: 22px;
    word-spacing: 2px;
}

.register div {
    margin: 1rem auto;
    width: 100%;
}

.register p {
    margin: 1rem;
}

.name {
    flex-direction: column;
}

/* Profile Styling */
.logout {
    color: #485563;
    float: right;
    margin-right: 3rem;
    margin-top: 1rem;
    text-decoration: none;
    width: fit-content;
}

.logout:hover {
    color: #e6e6e6;
    text-shadow: 5px 5px 5px #302f2f;
}

.prof-main {
    background: #ced9e2;
    display: flex;
    margin: auto;
    width: 80%
}

.prof-img {
    border-color: black;
    border-radius: 10px;
    border-width: 4px;
    margin: auto auto auto 1rem;
    
}