/* General Page Styling */
html {
    background-color: #616169;
}

body {
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: 'Gayathri', sans-serif;
    text-align: center;
}

p {
    text-align: center;
    padding: 10px;
}

hr {
    border-color: #e6e6e6;
    margin-bottom: 1rem;
    width: 65%;
}

.fa {
    font-size: 50px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

/* Nav-Bar Styling */
.name-logo {
    color: #485563;
    font-size: 28px;
    margin: auto;
    text-decoration: none;
    text-align: center;
}

.name-logo:hover {
    color: #e6e6e6;
    text-shadow: 5px 5px 5px #302f2f;
}

.nav-left {
    margin-left: 0.5rem;
    width: 100%;
}

.nav-left a {
    color: #485563;
    font-size: 28px;
    /* margin: auto; */
    text-decoration: none;
}

.nav {
    background: linear-gradient(to right, #00d2ff,#3a7bd5);
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nav-links {
    font-size: 28px;
}

.nav-links a {
    margin: auto 9rem;
    color: #485563;
    text-decoration: none;
}

.nav-links a:hover {
    color: #e6e6e6;
    text-shadow: 5px 5px 5px #302f2f;
}

.nav-middle {
    margin: auto;
    width: 80%;
}

.nav-right {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.nav-right a {
    color: #485563;
    text-decoration: none;
}

.nav-right a:hover {
    color: #e6e6e6;
    text-shadow: 5px 5px 5px #302f2f;
}

/* Footer Styling */
footer {
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    bottom: 0px;
    color: #485563;
    position: fixed;
    width: 100%;
}

footer p {
    width: fit-content;
    margin: auto;
    font-weight: bold;
}

.heart {
    color: rgb(133, 14, 14);
}

/* Main Page Content Styling */
.avatar {
    border-radius: 75%;
    width: 200px;
    margin-left: 4rem;
    margin-right: 1rem;
}

.home-top {
    margin-top: 2rem;
    display: flex;
    flex-flow: row;
}

.home-top-desc {
    display: table-caption;
    table-layout: fixed;
}

.home h1 {
    margin: auto
}

.home-top-p {
    margin: auto 0rem 0rem;
}

.home-p {
    align-content: flex-start;
    font-size: 25px;
    margin: auto;
    width: fit-content;
}

.home-main {
    box-shadow: 2px 2px 50px #1c95e6 ;
    background-color: #313131;
    color: #e6e6e6;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    width: 80%;
}

.context {
    margin: 2rem auto;
    text-align: justify;
    width: 80%;
}

.email {
    text-shadow: 1px 0px 10px #e6e6e6;
    text-decoration: none;
    color: #e6e6e6;
}

.email:hover {
    text-decoration: underline;
}

/* End Home Page Styling */

/* Projects Page Styling */

.projects-main {
    background: #313131;
    display: flex;
    height: 100%;
    margin: auto;
    width: 80%;
}

.projects-main h1 {
    color: #e6e6e6;
    margin: 2rem auto;
}

/* End Projects Page Styling */

/* About Page Styling */
.top-bar {
    background-color: #ced9e2;
    border-color: #3a7bd5;
    border-style: ridge;
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin: 1rem auto auto auto;
    width: 55%; 
}

.about-btn {
    border: solid 1px;
    background: linear-gradient(#3a7bd5, #313131);
    color: white;
    font-size: 24px;
    height: 100%;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
}

.about-btn:hover {
    background: linear-gradient(#1c95e6, #313131);
}

.about-btn.active {
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
}

.about-p {
    justify-content: space-around;
    margin: 1rem auto;
    text-align: left;
    width: 90%;
}

.img1 {
    border-radius: 50px;
    float: left;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.img2 {
    border-radius: 50px;
    float: right;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.img3 {
    margin-left: 30rem;
}

.tabcontent {
    display: flex;
}

#music {
    background-color: #313131;
    color: #e6e6e6;
    display: none;
    height: auto;
    margin: 0rem auto;
    width: 90%;
}

.music-content {
    display: flex;
    flex-direction: row;
    height: 450px;
}

.music-content li {
    font-size: 25px;
}

.music {
    width: 50%;
    margin: 0rem 1rem;
}

.audio-player-controls {
    margin: auto;
    width: fit-content;
}

.audio-player {
    background-color: #e6e6e6;
    color: #313131;
    display: flex;
    flex-direction: column;
}

.audio-player h1 {
    margin: 1rem auto;
    width: fit-content;
}

audio {
    margin: auto;
}

/* Audio Webkit styling */
audio::-webkit-media-controls-panel{
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
}

audio::-webkit-media-controls-current-time-display {
    color: #e6e6e6;
}

audio::-webkit-media-controls-time-remaining-display {
    color: #e6e6e6;
}

audio::-webkit-media-controls-play-button {
    background-color: #e6e6e6;
    border-radius: 20px;
}
/* End Audio Webkit Styling */

.song-list {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 1rem 3.5rem;
    text-align: center;
}

.song-list button {
    background: #8b8b8b;
    border: solid 1px;
    border-radius: 5px;
    color: white;
    width: 100%;
    height: 25px;
}

.song-list button:hover {
    background: #6d6d6d;
}

.song.song-active {
    background: #5c5c5c;
}

.song-list th {
    text-decoration: underline;
}

#coding {
    background-color: #313131;
    color: #e6e6e6;
    display: none;
    height: auto;
    margin: 0rem auto;
    width: 90%;
}

.coding-content {
    display: flex;
    flex-direction: row;
    height: 450px;
}

/* End About Page Styling */

/* Responsive Styling */
@media screen and (max-width: 1500px) {
    .nav-links a {
        margin: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .top-bar {
        width: 45%;
    }

    .music-content {
        flex-direction: column-reverse;
    }

    iframe {
        width: 600px;
    }
}